.history
pull-secret.json
openshift-install
openshift-install-linux.tar.gz
instances
*.iml
extra-manifests/day1/*.yaml
extra-manifests/day1/*.yaml.j2
extra-manifests/day2/*/*.yaml
extra-manifests/day2/*/*.yaml.j2
*.crt