.history
*.pub
pull-secret.json
openshift-install
openshift-install-linux.*.tar.gz
instances
*.iml
extra-manifests/*.yaml
extra-manifests/day1/*.yaml
extra-manifests/day2/*.yaml
extra-manifests/day1/*/*.yaml
extra-manifests/day2/*/*.yaml
extra-manifests/day1/*.yaml.j2
extra-manifests/day2/*.yaml.j2
extra-manifests/day1/*/*.yaml.j2
extra-manifests/day2/*/*.yaml.j2
!extra-manifests/day2/metallb/01-metallb-config.yaml.j2
!extra-manifests/day2/nmstate/01-nmstate.yaml
!extra-manifests/day2/kubevirt-hyperconverged/hyper-converged.yaml
!*.example

*.crt