.history
pull-secret.json
openshift-install
openshift-install-linux.tar.gz
sno148
hub
sno162
sno130
sno132
sno131
*.iml
extra-manifests/day1/*.yaml
extra-manifests/day1/*.yaml.j2
extra-manifests/day2/*/*.yaml
extra-manifests/day2/*/*.yaml.j2
*.crt