cluster:
  domain: outbound.vz.bos2.lab
  name: compact
  apiVIP: 192.168.58.90
  ingressVIP: 192.168.58.91

hosts:
  common:
    machine_network_cidr: 192.168.58.0/25
    machine_network_prefix: 25
    #cluster_network_cidr:
    #cluster_network_host_prefix:
    #service_network: 
    dns: 192.168.58.15
    gateway: 192.168.58.1
    vlan:
      enabled: false
      name: ens1f0.58
      id: 58
    disk: /dev/nvme0n1
  masters:
    - interface: ens1f0
      hostname: master1.compact.outbound.vz.bos2.lab
      ip: 192.168.58.30
      mac: de:ad:be:ff:10:30
      bmc:
        address: 192.168.58.15:8080
        username: Administrator
        password: dummy
        node_uuid: 22222222-1111-1111-0000-000000000000
    - interface: ens1f0
      hostname: master2.compact.outbound.vz.bos2.lab
      ip: 192.168.58.31
      mac: de:ad:be:ff:10:31
      bmc:
        address: 192.168.58.15:8080
        username: Administrator
        password: dummy
        node_uuid: 22222222-1111-1111-0000-000000000001        
    - interface: ens1f0
      hostname: master3.compact.outbound.vz.bos2.lab
      ip: 192.168.58.32
      mac: de:ad:be:ff:10:32
      bmc:
        address: 192.168.58.15:8080
        username: Administrator
        password: dummy
        node_uuid: 22222222-1111-1111-0000-000000000002
  workers:
    - interface: ens1f0
      hostname: worker1.compact.outbound.vz.bos2.lab
      ip: 192.168.58.33
      mac: de:ad:be:ff:10:33
      bmc:
        address: 192.168.58.15:8080
        username: Administrator
        password: dummy
        node_uuid: 22222222-1111-1111-0000-000000000003        
    - interface: ens1f0
      hostname: worker2.compact.outbound.vz.bos2.lab
      ip: 192.168.58.34
      mac: de:ad:be:ff:10:34
      bmc:
        address: 192.168.58.15:8080
        username: Administrator
        password: dummy
        node_uuid: 22222222-1111-1111-0000-000000000004

proxy:
  enabled: false
  http:
  https:
  noproxy:

pull_secret: ./pull-secret.json
ssh_key: /root/.ssh/id_rsa.pub

iso:
  address: http://192.168.58.15/iso/agent-148.iso