---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: ptp-operator-subscription
  namespace: openshift-ptp
spec:
  {% if channel is defined -%}
  channel: {{ channel }}
  {% else -%}
  channel: stable
  {%- endif %}
  name: ptp-operator
  {% if source is defined -%}
  source: {{ source }}
  {% else -%}
  source: redhat-operators
  {%- endif %}
  sourceNamespace: openshift-marketplace
  {% if version is defined -%}
  startingCSV: {{ version }}
  installPlanApproval: Manual
  {% else -%}
  installPlanApproval: Automatic
  {%- endif %}
