apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: certified-operators-local
  namespace: openshift-marketplace
spec:
  image: registry.service.local:5000/operators/operators-certified-operator-index:v4.12
  sourceType: grpc
  displayName: Certified Operators (Local Mirror)
---
apiVersion: operator.openshift.io/v1alpha1
kind: ImageContentSourcePolicy
metadata:
  labels:
    operators.openshift.org/catalog: "true"
  name: certified-operators-local-0
spec:
  repositoryDigestMirrors:
  - mirrors:
    - registry.service.local:5000/operators/openshift4-ose-sriov-network-device-plugin
    source: registry.redhat.io/openshift4/ose-sriov-network-device-plugin
  - mirrors:
    - registry.service.local:5000/operators/openshift4-ose-kube-rbac-proxy
    source: registry.redhat.io/openshift4/ose-kube-rbac-proxy
  - mirrors:
    - registry.service.local:5000/operators/intel-n3000-labeler
    source: registry.connect.redhat.com/intel/n3000-labeler
  - mirrors:
    - registry.service.local:5000/operators/intel-sriov-fec-operator
    source: registry.connect.redhat.com/intel/sriov-fec-operator
  - mirrors:
    - registry.service.local:5000/operators/intel-sriov-fec-daemon
    source: registry.connect.redhat.com/intel/sriov-fec-daemon
  - mirrors:
    - registry.service.local:5000/operators/intel-sriov-fec-operator-bundle
    source: registry.connect.redhat.com/intel/sriov-fec-operator-bundle
