---
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: {{ name }}
  namespace: openshift-marketplace
spec:
  displayName: {{ display }}
  image: {{ image }}
  publisher: {{ publisher | default("Red Hat") }}
  sourceType: grpc
