---
apiVersion: v1
kind: Secret
metadata:
  name: clusters-repo-secret
  namespace: openshift-gitops
  labels:
    argocd.argoproj.io/secret-type: repository
type: Opaque
data:
  url: {{ repo.clusters.urlBase64 }}
  insecure: dHJ1ZQ==
  sshPrivateKey: {{ repo.clusters.sshPrivateKey }}