apiVersion: v1alpha1
kind: AgentConfig
metadata:
  name: {{ cluster.name }}
{% if hosts.common.ipv4 is defined and hosts.common.ipv4.enabled -%}
rendezvousIP: {{ hosts.masters[0].ipv4.ip }}
{% else -%}
rendezvousIP: {{ hosts.masters[0].ipv6.ip }}
{% endif -%}
{% if cluster.ntps is defined -%}
additionalNTPSources:
{% for ntp in cluster.ntps -%}
- {{ ntp }}
{% endfor -%}
{% endif -%}
hosts:
{% if hosts.workers is defined -%}
{%- set all_hosts=hosts.masters+hosts.workers -%}
{% else %}
{%- set all_hosts=hosts.masters -%}
{% endif -%}
{%- for host in all_hosts %}
  - hostname: {{ host.hostname }}
    {%- if host.hostname in hosts.masters|map(attribute="hostname") %}
    role: master
    {%- else %}
    role: worker
    {%- endif %}
    interfaces:
      {%- if host.bond is defined %}
      {%- for member in host.bond.members %}
      - name: {{ member.interface }}
        macAddress: {{ member.mac }}
      {%- endfor -%}
      {%- else %}
      - name: {{ host.interface }}
        macAddress: {{ host.mac }}
      {%- endif %}
    rootDeviceHints:
      deviceName: {{ host.disk or hosts.common.disk }}
    networkConfig:
      interfaces:
        {%- if hosts.common.vlan is defined and hosts.common.vlan.enabled %}
        - name: {{ hosts.common.vlan.name }}
          type: vlan
        {%- else %}
        - name: {{ host.interface }}
          {%- if host.bond is defined %}
          type: bond
          link-aggregation:
            mode: {{ hosts.common.bond.mode }}
            {%- if hosts.common.bond.miimon is defined %}
            options:
               miimon: {{ hosts.common.bond.miimon }}
            {%- endif %}
            port:
              {%- for member in host.bond.members %}
              - {{ member.interface }}
              {%- endfor %}
          {%- else %}
          type: ethernet
          {%- endif %}
          mac-address: {{ host.mac }}
        {%- endif %}
          state: up
          {%- if hosts.common.vlan is defined and hosts.common.vlan.enabled %}
          vlan:
            base-iface: {{ host.interface }}
            id: {{ hosts.common.vlan.id }}
          {%- endif %}
          {%- if hosts.common.ipv4 is defined and hosts.common.ipv4.enabled %}
          ipv4:
            enabled: true
            {% if not hosts.common.ipv4.dhcp -%}
            address:
              - ip: {{ host.ipv4.ip }}
                prefix-length: {{ hosts.common.ipv4.machine_network_prefix }}
            {% endif -%}
            dhcp: {{ hosts.common.ipv4.dhcp|lower }}
          {%- else %}
          ipv4:
            enabled: false
          {%- endif -%}
          {% if hosts.common.ipv6 is defined and hosts.common.ipv6.enabled %}
          ipv6:
            enabled: true
            {% if not hosts.common.ipv6.dhcp -%}
            address:
              - ip: {{ host.ipv6.ip }}
                prefix-length: {{ hosts.common.ipv6.machine_network_prefix }}
            {% endif -%}
            dhcp: {{ hosts.common.ipv6.dhcp|lower }}
          {%- else %}
          ipv6:
            enabled: false
          {%- endif %}
        {%- if hosts.common.vlan is defined and hosts.common.vlan.enabled %}
        - name: {{ host.interface }}
          {% if host.bond is defined -%}
          type: bond
          link-aggregation:
            mode: {{ hosts.common.bond.mode }}
            {%- if hosts.common.bond.miimon is defined %}
            options:
               miimon: {{ hosts.common.bond.miimon }}
            {%- endif %}
            port:
              {%- for member in host.bond.members %}
              - {{ member.interface }}
              {%- endfor %}
          {% else -%}
          type: ethernet
          {%- endif %}
          state: up
          mac-address: {{ host.mac }}
          ipv4:
            enabled: false
          ipv6:
            enabled: false
        {%- endif %}
        {%- if host.bond is defined -%}
        {%- for member in host.bond.members %}
        {%- if member.ethernet is defined %}
        - name: {{ member.interface }}
          type: ethernet
          ethernet:
            auto-negotiation: {{ member.ethernet.auto_negotiation |lower }}
            duplex: {{ member.ethernet.duplex }}
            speed: {{ member.ethernet.speed }}
        {%- endif %}
        {%- endfor %}
        {%- endif %}
      dns-resolver:
        config:
          server:
            {%- if hosts.common.ipv4 is defined and hosts.common.ipv4.enabled %}
            - {{ hosts.common.ipv4.dns }}
            {%- endif %}
            {%- if hosts.common.ipv6 is defined and hosts.common.ipv6.enabled %}
            - {{ hosts.common.ipv6.dns }}
            {%- endif %}
      routes:
        config:
          {%- if hosts.common.ipv4 is defined and hosts.common.ipv4.enabled %}
          - destination: 0.0.0.0/0
            next-hop-address: {{ hosts.common.ipv4.gateway }}
            {%- if hosts.common.vlan is defined and hosts.common.vlan.enabled %}
            next-hop-interface: {{ hosts.common.vlan.name }}
            {%- else %}
            next-hop-interface: {{ host.interface }}
            {%- endif %}
            table-id: 254
          {%- endif -%}
          {%- if hosts.common.ipv6 is defined and hosts.common.ipv6.enabled %}
          - destination: ::/0
            next-hop-address: {{ hosts.common.ipv6.gateway }}
            {% if hosts.common.vlan is defined and hosts.common.vlan.enabled -%}
            next-hop-interface: {{ hosts.common.vlan.name }}
            {%- else %}
            next-hop-interface: {{ host.interface }}
            {%- endif %}
            table-id: 254
          {% endif %}
{%- endfor %}
