apiVersion: v1
metadata:
  name: {{ cluster.name }}
baseDomain: {{ cluster.domain }}
compute:
  - architecture: amd64
    hyperthreading: Enabled
    name: worker
    replicas: {{ hosts.workers|length }}
controlPlane:
  architecture: amd64
  hyperthreading: Enabled
  name: master
  replicas: {{ hosts.masters|length }}
networking:
  clusterNetwork:
  {% if hosts.common.ipv4 is defined and hosts.common.ipv4.enabled -%}
  - cidr: {{ hosts.common.ipv4.cluster_network_cidr | default('10.128.0.0/14') }}
    hostPrefix: {{ hosts.common.ipv4.cluster_network_host_prefix | default('23') }}
  {% endif -%}
  {% if hosts.common.ipv6 is defined and hosts.common.ipv6.enabled -%}
  - cidr: {{ hosts.common.ipv6.cluster_network_cidr | default('fd01::/48') }}
    hostPrefix: {{ hosts.common.ipv6.cluster_network_host_prefix | default('64') }}
  {% endif -%}
  serviceNetwork:
  {% if hosts.common.ipv4 is defined and hosts.common.ipv4.enabled -%}
    - {{ hosts.common.ipv4.service_network | default('172.30.0.0/16') }}
  {% endif -%}
  {% if hosts.common.ipv6 is defined and hosts.common.ipv6.enabled -%}
    - {{ hosts.common.ipv6.service_network | default('fd02::/112') }}
  {% endif -%}
  machineNetwork:
  {% if hosts.common.ipv4 is defined and hosts.common.ipv4.enabled -%}
  - cidr: {{ hosts.common.ipv4.machine_network_cidr }}
  {% endif -%}
  {% if hosts.common.ipv6 is defined and hosts.common.ipv6.enabled -%}
  - cidr: {{ hosts.common.ipv6.machine_network_cidr }}
  {% endif %}
platform:
  baremetal:
    apiVips:
      {% for apiVIP in cluster.apiVIPs -%}
      - {{ apiVIP }}
      {% endfor %}
    ingressVips:
      {% for ingressVIP in cluster.ingressVIPs -%}
      - {{ ingressVIP }}
      {% endfor %}
{% if proxy is defined and proxy.enabled -%}
proxy:
  httpProxy: {{ proxy.http }}
  httpsProxy: {{ proxy.https }}
  noProxy: {{  proxy.noproxy }}
{% endif %}
pullSecret: '{{ environ('pull_secret') }}'
sshKey: '{{ environ('ssh_key') }}'

{% if additional_trust_bundle is defined -%}
additionalTrustBundle: |
  {{ environ('additional_trust_bundle') |indent(width=2) }}
{% endif %}
