apiVersion: config.openshift.io/v1
kind: OperatorHub
metadata:
  name: cluster
spec:
  sources:
  - disabled: {% if 'redhat-marketplace' in container_registry.disable_catalogsources %}true{% else %}false{% endif %}
    name: redhat-marketplace
  - disabled: {% if 'community-operators' in container_registry.disable_catalogsources %}true{% else %}false{% endif %}
    name: community-operators
  - disabled: {% if 'redhat-operators' in container_registry.disable_catalogsources %}true{% else %}false{% endif %}
    name: redhat-operators
  - disabled: {% if 'certified-operators' in container_registry.disable_catalogsources %}true{% else %}false{% endif %}
    name: certified-operators
