---
apiVersion: v1
kind: Secret
metadata:
  name: policies-repo-secret
  namespace: openshift-gitops
  labels:
    argocd.argoproj.io/secret-type: repository
type: Opaque
data:
  url: {{ repo.policies.urlBase64 }}
  insecure: dHJ1ZQ==
  sshPrivateKey: {{ repo.policies.sshPrivateKey }}